mixin taskBlock(task = {})
    div.task-container#jsTaskContainer
        div(id=task.id).task__id
        .task__description#jsTaskDescription #{task.description}
        i.task__caution.fas#jsTaskCaution
        a.task__title#jsTaskTitle=task.taskTitle
        a.task__priority#jsTaskPriority=task.priority
        a.task__startDate#jsTaskStartDate=task.startDate
        a.task__tilde ~
        a.task__deadline#jsTaskDeadline=task.deadline
        i(data-status=task.status).task__status.far#jsTaskStatus
        i.task__modifyBtn.far.fa-edit#jsModifyIcon
        i.task__deleteBtn.far.fa-trash-alt#jsDeleteIcon