mixin todolistForm({})
    .todolist-container#jsPopup
        .todolist-form#jsFormTaskId
            .todolist__top
                input(type="text", name="title", placeholder="Title", autocomplete="off", required=true, maxlength="13").todolist__title#jsFormTitle
                span(data-status).statusIcon#jsFormStatus
                    i.far#jsFormStatusIcon
            .todolist__middle
                textarea(name="description", placeholder="Description", required=true)#jsFormDescription
            .todolist__bottom
                select(name="priority", required=true)#jsFormPriority
                    option(value="1") Low
                    option(value="2") Middle
                    option(value="3") High
                input(type="date", name="startDate", required=true).startDate#jsStartDate
                i(data-toggle="off").far.fa-calendar-plus.deadlineBtn#jsDeadlinBtn
                input(type="date", name="deadline", required=true).deadline.deadline-off#jsDeadline
            .todolist__buttons
                input(type="button", value="Submit")#jsSubmitBtn
                input(type="button", value="Cancel")#jsCloseBtn